<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDescrizione">Descrizione</label>
        <input type="text" class="form-control" id="inputDescrizione" placeholder="Iniserisci la descrizione della transazione">
      </div>
      <div class="form-group col-md-6">
        <label for="inputQuantita">Prezzo</label>
        <input type="number" class="form-control" id="inputQuantita" placeholder="Inserisci la quantità della transazione">
      </div>
      <div class="form-group col-md-6">
        <label for="inputData">Data</label>
        <input type="date" class="form-control" id="inputData" placeholder="Inserisci la data in cui è avvenuta la transazione">
      </div>
    </div>
    <button type="submit" class="btn btn-dark">Inserisci</button>
  </form>
