<p>about works!</p>

<button class="btn btn-dark" (click)="provaClick()">Cliccami</button>

<div *ngIf="utenti">
  <h1>Stampa tramite componenti angular</h1>
  <div *ngFor="let utente of utenti.data">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{utente.avatar}}" alt="{{utente.avatar}}">
      <div class="card-body">
        <h5 class="card-title">Utente</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item">{{utente.first_name}}</li>
        <li class="list-group-item">{{utente.last_name}}</li>
      </ul>
    </div>
  </div>
</div>
