<div class="container contenitore">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-3">
            <img class="rounded-circle" src="../../assets/img/piero.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Piero Baglivo</h2>
            <p>Front-end</p>
            <p><a class="btn btn-secondary" href="/about/#piero" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-3">
            <img class="rounded-circle" src="../../assets/img/roberto.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Roberto Bellardi</h2>
            <p>Back-end</p>
            <p><a class="btn btn-secondary" href="/about/#roberto" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-3">
            <img class="rounded-circle" src="../../assets/img/mihai.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Mihai Fedot</h2>
            <p>Front-end</p>
            <p><a class="btn btn-secondary" href="/about/#mihai" role="button">View details &raquo;</a></p>
          </div>
        
          <div class="col-lg-3">
            <img class="rounded-circle" src="../../assets/img/biagio.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Biagio Ingusci</h2>
            <p>Back-end</p>
            <p><a class="btn btn-secondary" href="/about/#biagio" role="button">View details &raquo;</a></p>
          </div>
        </div>

             <!-- START THE FEATURETTES -->

             <hr class="featurette-divider">

             <div class="row featurette">
               <div class="col-md-7">
                 <h2 class="featurette-heading">Piero Baglivo <span class="text-muted">Te ne vai?</span></h2>
                 <p class="lead">Piero 26 anni da Lecce, sono venuto al nord per programmare perchè giù non c'è internet. Roberto non sospetta nulla delle mie origini perchè ho un accento marcatamente piemunteis.</p>
               </div>
               <div class="col-md-5">
                 <img id="piero" class="featurette-image img-fluid mx-auto foto"  src="../../assets/img/piero.jpg" alt="Generic placeholder image">
               </div>
             </div>
     
             <hr class="featurette-divider">
     
             <div class="row featurette">
               <div class="col-md-7 order-md-2">
                 <h2 class="featurette-heading">Roberto Bellardi <span class="text-muted">Uffffffffffffff</span></h2>
                 <p class="lead">Roberto 26 anni dal grande nord, sopporto con fatica i programmatori terroni, ma per fortuna tra noi non ce ne sono.</p>
               </div>
               <div class="col-md-5 order-md-1">
                 <img id="roberto" class="featurette-image img-fluid mx-auto foto" src="../../assets/img/roberto.jpg" alt="Generic placeholder image">
               </div>
             </div>
     
             <hr class="featurette-divider">
     
             <div class="row featurette">
               <div class="col-md-7">
                 <h2 class="featurette-heading">Mihai Fedot <span class="text-muted">A me non da fastidio</span></h2>
                 <p class="lead">Mihai 24 anni dalla Romania senza barcone, venuto qui a programmare per portare soldi a mio paese.</p>
               </div>
               <div class="col-md-5">
                 <img id="mihai" class="featurette-image img-fluid mx-auto foto" src="../../assets/img/mihai.jpg" alt="Generic placeholder image">
               </div>
             </div>

             <hr class="featurette-divider">
     
             <div class="row featurette">
               <div class="col-md-7 order-md-2">
                 <h2 class="featurette-heading">Biagio Ingusci <span class="text-muted">Mi sto cacando sotto ah</span></h2>
                 <p class="lead">Biagio 26 anni dalla Svizzera, una volta programmavo vacche ah. Anche pecchè non avevo ancora il vitalizio caro amico.</p>
               </div>
               <div class="col-md-5 order-md-1">
                 <img id="biagio" class="featurette-image img-fluid mx-auto foto" src="../../assets/img/biagio.jpg" alt="Generic placeholder image">
               </div>
             </div>
     
</div>