<!--<h1 class="text-center">Home</h1>

<button class="btn btn-dark" (click) = "recuperaPokemon()">Recupera pokemon</button>

<button class="btn btn-dark" (click) = "inserisciPokemon()">Inserisci pokemon</button>

<button class="btn btn-dark" (click) = "scaricaMagazzino()">Scarica magazzino</button>

<ul *ngFor="let transazione of transazioni">
  <li>{{transazione.id}}</li>
  <li>{{transazione.idProdotto}}</li>
  <li>{{transazione.quantita}}</li>
  <li>{{transazione.data}}</li>
</ul>
-->
<app-navbar></app-navbar>

<router-outlet></router-outlet>