<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDescrizione">Descrizione</label>
        <input type="text" class="form-control" id="inputDescrizione" placeholder="Iniserisci la descrizione del prodotto">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPrezzo">Prezzo</label>
        <input type="number" class="form-control" id="inputPrezzo" placeholder="Inserisci il prezzo in € del prodotto">
      </div>
    </div>
    <button id="aggiungiProdotto" type="button" class="btn btn-dark">Inserisci</button>
  </form>
